.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.thumbnail {
  margin: 10px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  margin: 10px;
  width: auto;
}

.videoContainer:hover {
  text-decoration: none;
  color: black;
}
